/* Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Common styles */
body {
  font-family: "Poppins", sans-serif;
}
.main-body {
  background-color: #eafeff;
  min-height: 76vh;
}
.bg-brand,
.btn-brand {
  background-color: #ff8800;
  color: #ffffff;
}
.brand-text {
  color: #ff8800;
}
.btn-brand:hover {
  background-color: #232323;
  color: #ffffff;
}
